body {
  background-image: url(Images/krzysztof-kowalik-2pnozU26QBo-unsplash.jpg);
	background-repeat: repeat;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  color: #545454;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0em 0em 4em;
}

/* Class styles */

.sample {
  box-shadow: 5px 10px;
}

.bodyBackground {
	background-color: rgba(240, 248, 255, 0.28);
}

.contact {
  font-size: larger;
  text-align: center;
}

.intro {
  text-align: center;
}

.centeredList dd {
  font-size:larger;
}

.centeredList {
  text-align: left;
}

/* ID styles */

#currentPage {
	color: #241b1b;
	text-decoration: underline;
	text-decoration-color: #241b1b;
}

#note {
	text-align: center;
}

#name {
  text-align: left;
}

/* General styles */

p, dd {
	color: #433535;
}

h1, h2, h3, h4, h5, h6, dt {
  color: #433535;
  font-weight: 600;
  line-height: 1.3;
}

h4, h2 {
  text-align: center;
}

/* Navbar/Links */

a {
  color: #0083e8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 8%;
  overflow: hidden;
}

li {
  float: right;
}

li p {
	color: rgba(67, 53, 53, 0.74);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(176, 243, 255, 0.25);
}